/*===================================
               公共样式
====================================*/

body {
    font-family: '微软雅黑', sans-serif;
}

/*===================================
               导航区域
====================================*/
nav.nav {
    margin-bottom: 20px;
}

nav .navbar-nav span {
    padding-right: 5px;
}

/*===================================
               头像
====================================*/
.wh50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*===================================
               用户管理
====================================*/
.page-header {
    margin-top: 0;
}
.page-header h1 {
    margin: 0;
    font-size: 16px;
}
/*===================================
               用户搜索
====================================*/
form.user_search {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
/*===================================
               tag
====================================*/
.taglist {
    padding: 15px;
}
.taglist .alert {
    margin: 0 10px 10px 0;
}
.pad0 {
    padding: 0;
}

.login{
  width:1000px;
  height:400px;
  margin:100px auto;
  border:1px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1px;
  position:relative;
  color:#fff;
}
.rightpic{
  width:500px;
  height:330px;
  position:absolute;
  right:30px;
  top:30px;
  opacity: 0.8;
}
.rightpic #container{
  position: relative;
  width:500px;
  height:330px;
}
.login canvas{ position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.login>.loginmain  img {
  position: absolute;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.bgbg{
  background-image: url(../img/login/1.jpg);
  background-size: cover;
}
